<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if(stat){ %>
        <p>u are logged in</p>
        <button><a href="users/logout">logout</a></button>
    <% }else { %>
            <p>u are not logged in</p>
        <button><a href="users/login">login</a></button>
     <% } %>

</body>

</html>