<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users/login" method="post">
        <input type="text" name="user"><label for="">your name</label>
        <input type="submit" value="submit">
    </form>
</body>
</html>